<nav class="sections-nav">
  <ul>
    <li><section>World</section></li>
    <li><section>San Francisco</section></li>
    <li><section>New York</section></li>
    <li><section>Bootcamp Prep</section></li>
    <li><section>Jumpstart</section></li>
    <li><section>Online</section></li>
    <li><section>Marketing</section></li>
    <li><section>Sales</section></li>
    <li><section>TalentMatch</section></li>
    <li><section>Alumni</section></li>
    <li><a>ALL</a></li>
  </ul>
</nav>