/* PHASE 12: Modal */
.modal {

}

.modal-screen {
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.modal-form {
  position: absolute;
  width: 360px;
  top: 150px;
  left: 50%;
  margin-left: -220px;
  padding: 20px;
  z-index: 3;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}

.modal-form > h1 {
  font-size: 36px;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}

.model-close {
  cursor: pointer;
  position: absolute;
  font-size: 36px;
  top: 10px;
  right: 20px;
}